.carousel {
    position: relative;
}

.carousel-item {
    text-align: center;
}

body {
    background-color: #2e2e2e;
    color: #ffffff;
    text-align: center;
}

main {
    margin-top: 100px;
}

body {
    font-family: "Noto Sans JP", sans-serif;
}